:host {
  height: 100%;
  width: 100%;
  display: grid;
  overflow: auto;
}
.login-card {
  max-width: 400px;
  width: 75%;
  align-self: center;
  justify-self: center;
}
.login-form {
  display: grid;
  height: 275px;
  align-items: center;
  justify-items: center;
}
.login-button {
  margin-top: 20px;
}
.polaflix-logo {
  height: 75px;
  width: 75px;
}
.register-link {
  margin-top: 20px;
  font-size: small;
}
mat-form-field {
  margin-top: 10px;
  width: 60%;
}
