:host {
  height: 100%;
  width: 100%;
  display: block;
  overflow: auto;
  position: relative;
  background-image: url("../../../assets/landing_background.jpg");
  background-size: cover;
  box-shadow: 0 0 0 1000px rgba(0,0,0,.6) inset;
}
