@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';

mat-icon {
  cursor: pointer;
}
html, body {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
}

// Custom typography to apply in web app
$custom-typography: mat-typography-config(
    $font-family: 'Work Sans, sans-serif'
);

@include mat-core($custom-typography);
